# Python
__pycache__/
*.pyc
*.pyo
*.pyd
venv/
.env

# Node / Frontend
node_modules/
npm-debug.log*
yarn-debug.log*
yarn-error.log*

# Docker
*.log
docker-data/
volumes/
data/

# Banco / XUI
*.sql
*.db
backups/
uploads/

# Segurança
*.key
*.pem
tokens/
secrets/

# Sistema
.DS_Store
Thumbs.db
